### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [15]:
# Dependencies and Setup
import pandas as pd
import numpy as np
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [16]:
#find the unique players in the dataset 
unique_players = purchase_data["SN"].unique()
unique_players
total_players = pd.DataFrame(unique_players).count()
players_print = pd.DataFrame(total_players, columns =["Total Players"])
players_print
#Create a new df to store the unique players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
#calculate the number of unique items 
unique_items = purchase_data["Item Name"].unique()
count_unique_items = pd.DataFrame(unique_items).count()
count_unique_items

0    179
dtype: int64

In [18]:
#calculate the average price
average_price = purchase_data["Price"].mean()
average_price

3.050987179487176

In [19]:
#calculate the number of purchases
num_purchases = purchase_data["Purchase ID"].value_counts()
sum_purchases = num_purchases.sum()
sum_purchases

780

In [20]:
#claculate the total revenue
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [21]:
#group by gender and filter duplicate screen names 
grouped_gender = purchase_data.groupby(["Gender"])
gen_df = grouped_gender.nunique()["SN"]
#display count by gender
gen_df

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [22]:
total_gen = gen_df.sum()
total_gen

576

In [23]:
#caluclate percent of m/f/o players 
percent_of_players = (gen_df)/(total_gen) *100
#display percent by gender
percent_of_players

Gender
Female                   14.062500
Male                     84.027778
Other / Non-Disclosed     1.909722
Name: SN, dtype: float64


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

In [24]:
#calculate purchase count by gender 
purchase_count_gen = grouped_gender["Purchase ID"].count()
#purchase_count_gen
#calculate average purchase price by gender 
avg_purchase_gen = grouped_gender["Price"].mean()
#avg_purchase_gen
#calculate average purchase total by gender 
avg_pur_tot_gen = grouped_gender["Price"].sum()
#avg_pur_tot_gen
pur_per_person = avg_pur_tot_gen/total_gen
#pur_per_person
#Display summary table 
gender_pur_analysis = pd.DataFrame({"Purchase Count":purchase_count_gen,"Average Purchase Price":avg_purchase_gen,"Total Purchase Value":avg_pur_tot_gen,"Average Purchase Per Person":pur_per_person})
gender_pur_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Per Person
Gender,,,,
Female,113,3.203009,361.94,0.628368
Male,652,3.017853,1967.64,3.416042
Other / Non-Disclosed,15,3.346000,50.19,0.087135

In [25]:
## Purchasing Analysis (Age)

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [26]:
#bin the ages and name the groups
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
#categorize players into respective bins 
pd.cut(purchase_data["Age"],bins, labels=group_labels).head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [27]:
#add new column to store the users age group
purchase_data["Age Group"]=pd.cut(purchase_data["Age"],bins, labels=group_labels)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [28]:
#create new df with your new column/list
age_group = purchase_data.groupby("Age Group")
#drop duplicate SN to get total 
total_ages = age_group["SN"].nunique()
#total_ages
percent_age = (total_ages/total_gen)*100
percent_age

Age Group
<10       2.951389
10-14     3.819444
15-19    18.576389
20-24    44.791667
25-29    13.368056
30-34     9.027778
35-39     5.381944
40+       2.083333
Name: SN, dtype: float64

In [29]:
#make your pretty summary table w/percent and total of each age range
age_demo_sum = pd.DataFrame({"Total Count":total_ages,"Percentage of Player":percent_age})
age_demo_sum.style.format({"Percentage of Player":"{:.2f}"})
age_demo_sum

           Total Count  Percentage of Player
Age Group
<10                 17              2.951389
10-14               22              3.819444
15-19              107             18.576389
20-24              258             44.791667
25-29               77             13.368056
30-34               52              9.027778
35-39               31              5.381944
40+                 12              2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [30]:
#use age bins to get all the info for purchase by ages 
pur_count_age = age_group["Purchase ID"].count()
#purchase_count_age
avg_pur_age = age_group["Price"].mean()
#avg_pur_age
tot_pur_age = age_group["Price"].sum()
#tot_pur_age
avg_pur_per_age = tot_pur_age/total_ages
#avg_pur_per_age

#create the summary table to display calulated data
age_pur_sum = pd.DataFrame({"Purchase Count":pur_count_age,
                            "Average Purchase Price":avg_pur_age,
                           "Total Purchase Value":tot_pur_age,
                           "Average Total Purchase Per Person":avg_pur_per_age})
age_pur_sum

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Age Group,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [31]:
#group the sn to find the top spenders
sn_top_spender = purchase_data.groupby("SN")
#complete calulations
pur_count_spender = sn_top_spender["Purchase ID"].count()
avg_pur_spender = sn_top_spender["Price"].mean()
tot_pur_spender = sn_top_spender["Price"].sum()
spenders_df = pd.DataFrame({"Purchase Count":pur_count_spender,
                           "Average Purchase Price":avg_pur_spender,
                           "Total Purchase Value":tot_pur_spender})

#sort the total puchase column in descending order 
sorted_spenders = spenders_df.sort_values(["Total Purchase Value"],ascending=False).head()
sorted_spenders
#display summary table

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [32]:
#create df to hold your item info
item_df = purchase_data[["Item ID","Item Name","Price"]]
#item_df.head()
#group by item id and item name
item_group = item_df.groupby(["Item ID","Item Name"])
#calculate purchase count, item price and total purchase value
pur_count_item = item_group["Price"].count()
#pur_count_item
tot_value_item = item_group["Price"].sum()
#tot_value_item
item_price = tot_value_item/pur_count_item
#item_price

pop_items = pd.DataFrame({"Purchase Count":pur_count_item,
                          "Item Price":item_price,
                         "Total Purchase Value":tot_value_item})
#pop_items
#Sort df in descending order to show most pop at top
pop_formatted = pop_items.sort_values(["Purchase Count"], ascending=False)
pop_formatted.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [33]:
pop_formatted = pop_formatted = pop_items.sort_values(["Total Purchase Value"], ascending=False)
pop_formatted.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80